.panda-bg-primary {
  background-color: #fceae8;
}
.category-card img {
  width: 100px;
}
.panda-button-buy-now {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
header section {
  margin-top: 100px;
}
section {
  margin-top: 150px;
}
